$color1: #8D54FF;
$color1: #FCEC52;
$color1: #F4FAFF;
$color1: #001011;
$color1: #343F3E;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}