{% extends 'layout.html' %}
{% block content %}
{% include 'nav-bar.html' %}
{% include 'message.html' %}
<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="mt-1 article-title text-center font-weight-bold">{{ post.title }}</h4> 
    </div>
    <div class="card-body">
        {% if post.post_image.url is not null %}
        <img class="img-fluid post_img rounded mx-auto d-block" width="600" src="{{ post.post_image.url }}">
        {% endif %}
        <div class="px-2 text-justify">
            <p class="card-text text-justify">{{ object.content|safe }}</p>
            <article class="media content-section border-top d-flex justify-content-end mb-3">
            <img class="rounded-circle article-img mr-2 mt-2" width="20" src="{{ object.author.profile.image.url }}">
                <small class="text-muted mt-2"> oleh: <a class="mr-2" href="{% url 'user-profile' object.author.username %}">@{{ post.author }}</a>
                    ( {{ post.date_posted|timesince }} yang lalu )
                </small>
            </article> 
        </div>
        <div class="text-center">
            {% if object.author == user %}
            <a class="btn btn-primary btn-sm mt-1 mb-1 mr-2" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Hapus</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock content %}