.mynav {
	background-color: white !important;
}

.line-height {
	line-height: 14px;
	margin-top: 7px;
	margin-bottom: 9px;
}
.navfont {
	color: #7d3cff !important;
	font-weight: bold;
	font-size: 18px;
}
.navfont:hover {
	color: #fabe3c !important;
}

h1 {
	color: #7d3cff;
}

/*.navbar-brand {
	min-height: 40px;
}*/

.counseling {
	border-radius: 40px;
	background: #8d54ff !important;
	transition: all 0.3s ease 0s;
}

.counselingitem {
	color: white !important;
	font-weight: bold;
	font-size: 18px;
}
.counselingitem:hover {
	color: #8d54ff !important;
}

.counseling:hover {
	background: white !important;
	border: 1px solid #8d54ff !important;
}

.study {
	text-align: center;
	margin-top: 30px;
}

img {
	margin-bottom: 50px;
}

fieldset {
	color: #7d3cff !important;
}

.register {
	color: #7d3cff !important;
}

* {
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
	font-size: 15px;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 120px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background: #f37a1d;
	border-top: 3px solid #f37a1d;
}

.logout {
	color: #7d3cff !important;
}

/* .dropdown:hover > .dropdown-menu {
	display: block;
}*/

.dropdown-menu {
	background-color: #7d3cff !important;
}

.dropdown-item:hover {
	background-color: white !important;
	color: #7d3cff !important;
}

.quiz {
	color: #f2a413 !important;
}

.quiz-top {
	background-color: #6a41bf !important;
}

.quiz-button {
	background-color: #ffb60d;
}

.quiz-link {
	color: #7d3cff !important;
	font-weight: bold;
	font-size: 18px;
}

.quiz-button:hover {
	background-color: white !important;
}

.author {
	color: black !important;
	font-size: 20px;
	font-weight: bold;
}

.login-post {
	color: #ffb60d;
}

.login-title {
	color: #ffb60d;
	font-size: 27px;
}

.login-icon {
	text-align: center;
	margin-top: 25px;
	margin-bottom: -30px;
}

.home-title {
	color: #ffb60d;
	font-size: 30px;
}
