/* LAYOUT */

.btn {
	flex: 1 1 1;
	margin: 10px;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;

	border-radius: 10px;
}

.btn:hover {
	background-position: right center;
}

.btn-1 {
	background-image: linear-gradient(
		to right,
		#f6d365 0%,
		#fda085 51%,
		#f6d365 100%
	);
}

.btn-2 {
	background-image: linear-gradient(
		to right,
		#fbc2eb 0%,
		#a6c1ee 51%,
		#fbc2eb 100%
	);
}
.btn-3 {
	background-image: linear-gradient(
		to right,
		#ffecd2 0%,
		#fcb69f 51%,
		#ffecd2 100%
	);
}
.feature {
	margin-top: 100px;
}

.mynav {
	background-color: white !important;
}

.line-height {
	line-height: 7px;
	margin-top: 7px;
	margin-bottom: 9px;
}
.line-height1 {
	line-height: 10px;
	margin-top: 15px;
	margin-bottom: 9px;
}

.navfont {
	color: #7d3cff !important;
	font-weight: bold;
	font-size: 18px;
}
.navfont:hover {
	color: #fabe3c !important;
}

h1 {
	color: #7d3cff;
}

/*.navbar-brand {
	min-height: 40px;
}*/

.counseling {
	border-radius: 40px;
	background: #8d54ff !important;
	transition: all 0.3s ease 0s;
}

.counseling1 {
	border-radius: 5px;
	background: #8d54ff !important;
	transition: all 0.3s ease 0s;
}

.counselingitem {
	color: white !important;
	font-weight: bold;
	font-size: 18px;
}

.counselingitem1 {
	color: white !important;
	font-weight: bold;
	font-size: 20px;
}
.counselingitem:hover {
	color: #8d54ff !important;
}

.counselingitem1:hover {
	color: #8d54ff !important;
}
.counseling:hover {
	background: white !important;
	border: 1px solid #8d54ff !important;
}

.counseling1:hover {
	background: white !important;
	border: 1px solid #8d54ff !important;
}

.study {
	text-align: center;
}

img {
	margin-bottom: 50px;
}

fieldset {
	color: #7d3cff !important;
}

.register {
	color: #7d3cff !important;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 120px;
	font-size: calc(1em + 1vw);
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background: #f37a1d;
	border-top: 3px solid #f37a1d;
}

.logout {
	color: #7d3cff !important;
}

/* .dropdown:hover > .dropdown-menu {
	display: block;
}*/

.dropdown-menu {
	background-color: #7d3cff !important;
}

.dropdown-item:hover {
	background-color: white !important;
	color: #7d3cff !important;
}

.quiz {
	color: #f2a413 !important;
}

.quiz-top {
	background-color: #6a41bf !important;
}

.quiz-button {
	background-color: #ffb60d;
}

.quiz-link {
	color: #7d3cff !important;
	font-weight: bold;
	font-size: 18px;
}

.quiz-button:hover {
	background-color: white !important;
}

.author {
	color: black !important;
	font-size: 20px;
	font-weight: bold;
}

.login-post {
	color: #ffb60d;
}

.login-title {
	color: #ffb60d;
	font-size: 27px;
}

.login-icon {
	text-align: center;
	margin-top: 25px;
	margin-bottom: -30px;
}

.home-title {
	color: #ffb60d;
	font-size: 20px;

	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	top: 40%;
}

.fa {
	padding: 10px;
	font-size: 30px;
	width: 140px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-google {
	background: #dd4b39;
	color: white;
	font-weight: bold;
}

.fa-facebook {
	background: #3b5998;
	color: white;
}

@media (min-width: 576px) {
	html {
		font-size: 1.25rem;
	}
}
@media (min-width: 768px) {
	html {
		font-size: 1.5rem;
	}
}
/*@media (min-width: 992px) {
	html {
		font-size: 1.75rem;
	}
}
*/
