{% extends 'layout.html' %}
{% block content %}
{% include 'nav-bar.html' %}

<div class="container">
    {% include 'message.html' %}
    <h4 class="display-4 text-center mb-2 home-title" style="margin-top:-20px;">Berbagi Pengalaman di sini</h4>

        <div class="text-center mt-0 mb-4">
            <button type="button" class="btn btn-sm counseling shadow-sm rounded line-height"><a class="nav-link counselingitem" href="{% url 'post-create' %}">Buat Post</a></button>
        </div>
        
    {% for post in posts %}
    <article class="media content-section border border-info rounded shadow-sm p-3 mb-3 mx-5">
    <img class="rounded-circle article-img mr-2" width="25" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <div class="border-bottom mb-1">
                    <h6><a class="mb-2 mt-0 article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a> <small class="text-muted"> oleh: <a class="mr-2" href="#">@{{ post.author }}</a>
                   ( {{ post.date_posted|timesince }} yang lalu )</small></a></h6>
                    
                </div>
                <div>
                    <p class="article-content" style="font-size: 14px; text-align: justify; font-family: 'Roboto', sans-serif;">{{ post.content }}</p>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}