{% extends 'layout.html' %}
{% block content %}
{% include 'nav-bar.html' %}

<div class="container">
    {% include 'message.html' %}
        <div class="text-center mb-4">
            <button type="button" class="btn btn-sm counseling1 shadow-sm rounded line-height1"><a class="nav-link counselingitem1" href="{% url 'post-create' %}">Buat Post</a></button>
        </div>
        
    {% for post in posts %}
    <article class="media content-section border border-info rounded shadow-sm p-2 mb-3 mx-3">
    <img class="rounded-circle article-img mr-2 mt-2" width="25" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
        <div class="mb-1 border-bottom">
        <h6><a class="article-title" href="{% url 'post-detail' post.id %}" style="font-size: 19px;">{{ post.title }}</a> </a></h6>
        <small class="text-muted"> oleh: <a class="mr-1" href="#">@{{ post.author }}</a>
                   ({{ post.date_posted|timesince }} yang lalu)
                </small>     
        </div>    
            <div class="article-metadata">
                
                  
                <div>
                    <p class="article-content" style="font-size: 15px; text-align: justify; font-family: 'Roboto', sans-serif;">{{ post.content }}</p>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}