{% extends 'layout.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'nav-bar.html' %}
{% include 'message.html' %}

<div class="container card shadow border-0">
    <div class="content-section px-5 py-4">
        <form method="POST" class="mb-2 font-weight-bold">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info mb-2" type="submit">Login</button>
                <small class="text-muted ml-2"><a href="{% url 'password_reset' %}">Lupa Password?</a>
                </small>
            </div>
            
        </form>
        <div class="border-top pt-2">
            <small class="text-muted">
                Belum Punya Akun? <a class="ml-2" href="{% url 'register' %}">Daftar di sini</a>
            </small>
        </div>
        <small class="text-muted">
            Atau
        </small>
        <div>
        <a href="{% provider_login_url 'google' %}"><i class="fa fa-google"> Gmail</i>
        </a>
        </div>
    </div>
</div>
{% endblock content %}