{% extends 'layout.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="login-icon">
        <img class="rounded img-fluid" src="{% static 'gambar/login-logo.jpeg' %}" width="80">
</div>
<h4 class="display-4 text-center mb-2 login-title">Berbagi untuk Indonesia Merdeka Belajar</h4>

{% include 'message.html' %}

<div class="container mb-5 card shadow-sm p-3">
    <div class="content-section px-5">
        <form method="POST" class="mb-2 font-weight-bold">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-4">
            <small class="text-muted">
                Belum Punya Akun? <a class="ml-2" href="{% url 'register' %}">Daftar di sini</a>
            </small>
        </div>
        
        <div>
            <div class="mt-2 mr-3">
            <a href="{% provider_login_url 'google' %}"><i class="fa fa-google"> Login Gmail</i>
            </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}