{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'nav-bar.html' %}
{% include 'message.html' %}
<div class="container p-5 card shadow-sm">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img m-2" width="70" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h4 class="account-heading">{{ user.username }}</h4>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            <div>
                <h4>{{ user.first_name }}</h4>
                <p>{{ user.last_name }}</p>
            </div>
        </div>
    </div>

    <form method="POST" class="mb-2 font-weight-bold" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Informasi Profil</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    
</div>
    
{% endblock %}