{% load static %}

    <nav class="navbar navbar-expand-sm mynav shadow-sm">
        <a class="navbar-brand mr-3" href="{% url 'home:home' %}">
            <img class="img-fluid logo" src="{% static 'gambar/logo-nav.png' %}" width="140" alt="linibelajar">
        </a>

        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                
                <li class="nav-item active ml-auto mb-1">
                    <a class="nav-link free-class-nav font-weight-bold rounded ml-auto mr-2 px-2" href="{% url 'community:community' %}" type="button">Join Komunitas</a>
                </li>
                <li class="nav-item active ml-auto mb-1">
                    <a class="nav-link free-class-nav font-weight-bold rounded ml-auto mr-2 px-2" href="{% url 'online_class:online_class' %}" type="button">Kelas Online</a>
                </li>
                {% if user.is_authenticated %}
                
                <li class="nav-item active ml-auto mb-1">
                    <a class="nav-link shadow-sm free-class-nav font-weight-bold rounded ml-auto mr-2 px-2" href="{% url 'profile' %}"><i class="fas fa-user"></i> Profil</a>
                </li>

                <li class="nav-item active ml-auto mb-1">
                    <a class="nav-link shadow-sm free-class-nav font-weight-bold rounded ml-auto mr-2 px-2" href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                {% else %}
                <li class="nav-item active ml-auto mb-1">
                    <a class="nav-link free-class-nav font-weight-bold rounded ml-auto mr-2 px-2" href="{% url 'user:login' %}" type="button"><i class="fas fa-sign-in-alt"></i> Login</a>
                    
                </li>
                
                    
                {% endif %}


                
            </ul>
        </div>
    </nav>
 
