{% extends 'layout.html' %}
{% load static %}

{% block content %}
    

    
    <h4 class="display-4 mt-5">Belajar Online untuk Indonesia Merdeka Belajar</h4>
    <div class="nav-item active mr-3 text-center mt-5">
        <button type="button" class="btn btn-sm counseling shadow-sm rounded line-height"><a class="nav-link counselingitem" href="{% url 'login' %}">Dafar Kelas Gratis</a></button>
    </div>


    <div class="study mb-5">
        <img class="rounded img-fluid shadow" src="{% static 'image/learning-path.jpg' %}" width="1250">
    </div>




{% endblock %}
